*{
    padding:0px;
    margin:0px;
    font-family: 'Oswald', sans-serif;
}
html, body, .container{
    height: 100%;
}

h1{
    font-size:60px;
    text-shadow:2px 2px gray;
}

h2{
    font-size: 40px;
    text-shadow:2px 2px gray;
}

h3{
    font-size:30px;
    text-shadow:2px 2px gray;
}

hr{
    margin-top:10px;
    margin-bottom:10px;
    max-width: 50%;
    margin-left:25%;
}

.navIcon{
    height: 30px;
    right: 5%;
    top: 5%;
    position: fixed;
    opacity:.5;
}

.navIcon:hover{
    opacity: 1;
}

.nav{
    background-color: rgb(2, 89, 204);
    min-height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

.options{
    position:absolute;
    top:50%;
    left:10%;
    transform: translate(0%,-56%);
}

.nav .options h2{
    color: #f1f1f1;
    width:100%;
    position:relative;
    margin-top:75%;
}

.nav .options h2:hover {
    color: #818181;
}

.nav h3{
    color: #f1f1f1;
    top: 2.5%;
    left:10%;
    position:absolute;
    z-index:1;
}

.nav h3:hover{
    color: #818181;
}

.main{
    text-align: center;
    min-height: 100%;
    vertical-align: middle;
    background-color:rgb(219, 219, 219);
    
}

.main h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main h2{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 5px solid  rgb(2, 89, 204);;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:white;
    font-weight:bolder;
    border-radius:5px;
}

.main h2:hover{
    background-color:  rgb(2, 89, 204);
    color: white;
    border-radius: 5px;
}

.about{
    padding-top:2.5%;
    text-align: center;
    min-height: 100%;
    vertical-align: middle;
}

.about img{
    width:100%;
    box-shadow: 2px 2px #818181;
}

.recentwork{
    padding-top:2.5%;
    text-align: center;
    min-height: 100%;
    vertical-align: middle;
    background-color:rgb(219, 219, 219);
}

.project{
    padding-top: 10px;
}

.project img{
    width:100%;
}

.project h3{
    text-align:justify;
}

.work{
    padding-top:2.5%;
    text-align:center;
    min-height:100%;
    vertical-align: middle;
}

.work img{
    opacity: .5;
    height: auto;
}

.work h3{
    text-align:justify;
}

.contact{
    padding-top:2.5%;
    text-align:center;
    min-height:100%;
    vertical-align: middle;
    background-color:rgb(219, 219, 219);
}

.contact input{
    width: 50%;
    height: 50px;
    margin-top:10px;
    padding:10px;
}

.contact textarea{
    margin-top:10px;
    width:50%;
    height:150px;
    box-sizing: border-box;
    padding:10px;
    color:gray;
    border:1px solid #ccc
}

