*{
    padding:0px;
    margin:0px;
    font-family: 'Arimo', sans-serif;
}
html, body{
    height: 100%;
}

h1{
    font-size:60px;
}

h2{
    font-size: 40px;
}

h3{
    font-size:30px;
}


.navIcon{
    height: 30px;
    left: 95%;
    top: 5%;
    position: fixed;
    opacity:.5;
    z-index:1;
}

.navIcon:hover{
    opacity: 1;
}

.nav{
    background-color: navy;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s; 
}

.nav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    text-align:center;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.1s;
}

.nav a:hover {
    color: #f1f1f1;
}

.main{
    text-align: center;
    min-height: 100%;
    vertical-align: middle;
    background-color:lightgray;
}

.main h1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main a{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 5px solid navy;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:white;
    font-weight:bolder;
}

.main a:hover{
    background-color: navy;
    color: white;
    border-radius: 5px;
}

.about{
    text-align: center;
    min-height: 100%;
    vertical-align: middle;
}

.projects{
    text-align: center;
    min-height: 100%;
    vertical-align: middle;
}

.work img{
    opacity: .5;
    height: auto;
}

.work{
    position:relative;
    min-height:100%;
}


.apple{
    position:absolute;
    top:0px;
    min-height:100%;
}

