*{
    padding:0px;
    margin:0px;
    font-family: 'Oswald', sans-serif;
}
html, body, .container{
    height: 100%;
}

h1{
    font-size:60px;
}

h2{
    font-size: 40px;
}

h3{
    font-size:30px;
}

hr{
    margin-top:10px;
    margin-bottom:10px;
    max-width: 50%;
    margin-left:25%;
}

.navIcon{
    height: 30px;
    left: 95%;
    top: 5%;
    position: fixed;
    opacity:.5;
}

.navIcon:hover{
    opacity: 1;
}

.nav{
    background-color: rgb(2, 89, 204);
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s; 
    padding-top:15%;
}

.nav h2{
    padding: 8px 8px 8px 32px;
    text-align:center;
    color: #f1f1f1;
    text-overflow: hidden;
}

.nav h2:hover {
    color: #818181;
}

.nav h3{
    color: #f1f1f1;
    top: 2.5%;
    left:10%;
    position:absolute;
}

.nav h3:hover{
    color: #818181;
}

.main{
    text-align: center;
    min-height: 100%;
    vertical-align: middle;
    background-color:rgb(219, 219, 219);
}

.main h1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main h2{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 5px solid  rgb(2, 89, 204);;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:white;
    font-weight:bolder;
    border-radius:5px;
}

.main h2:hover{
    background-color:  rgb(2, 89, 204);
    color: white;
    border-radius: 5px;
}

.about{
    padding-top:2.5%;
    text-align: center;
    min-height: 100%;
    height:100%;
    vertical-align: middle;
    position:relative;
}

.projects{
    padding-top:2.5%;
    text-align: center;
    min-height: 100%;
    vertical-align: middle;
    background-color:rgb(219, 219, 219);
}

.work{
    padding-top:2.5%;
    text-align:center;
    min-height:100%;
    vertical-align: middle;
}

.work img{
    opacity: .5;
    height: auto;
}

.work h3{
    text-align:justify;
}

.contact{
    padding-top:2.5%;
    text-align:center;
    min-height:100%;
    vertical-align: middle;
    background-color:rgb(219, 219, 219);
}
